<!-- Design the layout to take screenshot and show the image in a modal. -->

<div #screen class="img-container">
    <mat-toolbar>
        <span>Screen Capture</span>
    </mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home</h1>
                <p>This is the home page.</p>
            </div>
        </div>
    </div>
    <!-- Utility to capture screenshot -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="primary" (click)="capture()">Capture Screen</button>
                <button mat-raised-button color="primary" (click)="showImage()">Show Screen</button>
            </div>
        </div>
    </div>
</div>